body {
    background-color: #411528;
    font-family: Playfair Display;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.container {
    width: 70%;
    background: #FBEEF0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 10px 1px #df8597;
}
h1 {
    color: #710C21;
    text-align: center;
    margin-bottom: 20px;
    font-size: 42px;
    font-style: italic;
}
h2 {
    color: #710C21;
    margin-top: 10px;
}
h3 {
    color: #710C21;
    margin-top: 10px;
}
p {
    line-height: 1.6;
    color:#290e19;
}
hr {
    border: none;
    border-top: 1px solid #a24c61;
    margin: 10px 0;
}
nav ul {
    list-style: none;
    background-color: #a24c61;
    color: #411528;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
nav {
    position:relative;
    width: 100%;
    margin: 0 -30px;
    width: calc(100% + 60px);
    box-shadow: 0 1px 3px #411528;
    /* Add depth*/
}
.contact-links {
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: center;
}
.contact-links img {
  width: 150px;
  height: auto;
  border-radius: 15%;
  transition: transform 0.2s ease;
}
.intro-section {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.intro-text {
    text-align: center;
    font-size: 22px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: #710C21;
}
.intro-image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
#currently-section {
    text-align: center;
}
#featured-projects-section {
    text-align: center;
}
.featured-projects-section {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.featured-projects-section .text-box {
    flex: 1;
}
#blog-section {
    text-align: center;
}
.blog-section {
    background-color: #f0dee3;
    border-radius: 15px;
    box-shadow: 0 3px 5px #9c627c;
    padding: 8px;
    max-height: 400px;
    overflow-y: scroll;
}
.blog-entry-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 10px auto;
}
nav a {
    text-decoration: none;
    color: #FBEFF0;
    font-size: 18px;
    font-weight: 700;
}
nav a:focus {
    color: #ecc2ec;
}
nav a:hover {
    color: #ecc2ec;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.text-box a {
    color: #a24c61;
    text-decoration: none;
}

.text-box a:hover {
    text-decoration: underline;
}
.text-box {
    border-radius: 12px;
    padding: 10px;
    background-color: #f0dee3;
    box-shadow: 0 3px 5px #9c627c;
    margin-top: 20px;
}
.text-box p {
    line-height: 2;
}
#see-more {
    border-radius: 20px;
    border: 1px solid #9c627c;
    background-color: #d285a8;
    color: #fbf7f8;
    padding: 6px 12px;
    display: block;
    margin-left: auto;
    box-shadow: 1px 1px #9c627c;
}
#see-more:hover {
    box-shadow: 2px 2px #88566d;
    cursor: pointer;
}
footer {
    color: #FBEFF0;
    background-color: #a24c61;
    border: 1px solid #ecc2ecb4;
    font-size: smaller;
    height: auto;
    padding: 8px 16px; 
    margin: 30px -30px -30px -30px;
}
@media (max-width: 600px) {
    .intro-section {
        flex-direction: column;
    }
    .featured-projects-section {
    flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 8px 0;
    }
}